@import "../../scss/variables";

.button {
  display: inline-block;
  background-color: #dbbba9;
  border-radius: 30px;
  padding: 10px 20px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: background-color var(--duration) ease-in-out,
    border-color var(--duration) ease-in-out;
  border: 1px solid transparent;

  &,
  span {
    color: #fff;
  }

  i,
  span,
  path,
  img {
    transition: all $duration ease-in-out;
  }

  &:hover {
    background-color: darken(#deab8e, 8%);
  }

  &:active {
    background-color: darken(#e39466, 12%);
    transform: translateY(1px);
  }

  &--circle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #cecdcc;
    cursor: pointer;
    transition: background-color $duration ease-in-out;
    &:hover {
      background-color: #b4adad;
    }
    &:active {
      background-color: darken(#444241, 12%);
      transform: translateY(1px);
    }
  }

  &--black {
    background-color: $black;

    &:hover,
    &:active {
      background-color: lighten($color: $black, $amount: 10);
    }
  }

  &--outline {
    background-color: #fff;
    border-color: #dbbba9;
    &,
    span {
      color: #dbbba9;
    }

    img {
      path {
        fill: #dbbba9;
      }
    }

    &:hover {
      background-color: #dbbba9;

      &,
      span {
        color: #fff;
      }

      img {
        path {
          fill: #fff;
        }
      }
    }

    &:active {
      background-color: darken(#dbbba9, 8%);
    }
  }

  &__delimiter {
    width: 1px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.25);
    margin-left: 14px;
    margin-right: 14px;
  }

  &--add {
    img {
      margin-right: 2px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &--cart {
    display: flex;
    align-items: center;
    line-height: 23px;
    padding: 12px 25px;
    @media (max-width: 460px) {
      padding: 12px 13px;
    }
    

    img {
      margin-right: 7px;
      margin-bottom: 1px;
    }

    span {
      font-weight: 600;
      font-size: 16px;
    }
  }

  &--more {
    width: 100%;

    padding: 15px;
    font-size: 20px;
  }
}
.pay {
  color: #fff;
  border-radius: 30px;
  padding: 16px;
  font-size: 16px;
  font-weight: 600;
  background-color: #dbbba9;
  border-color: transparent;
  cursor: pointer;
  transition: background-color $duration ease-in-out;
  &:hover {
    background-color: darken(#deab8e, 8%);
  }
  &:active {
    background-color: darken(#e39466, 12%);
    transform: translateY(1px);
  }
}

.cart__item-count-plus {
  padding: 0;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
}

.cart__item-count-minus {
  padding: 0;
  padding: 0;
  border-width: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
}
