.content__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content__title {
  display: flex;
  align-items: center;
  font-size: 32px;
}
.content__title {
  margin: 35px 0;
}
